html, body{
    margin: 0;
    padding: 0;

    background-color: white;

    scroll-behavior: smooth;
}

.fontTitre{
    font-family: 'Oswald', sans-serif;
    font-family: 'Righteous', cursive;
}

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.achat h1{
    margin-bottom: 3%;
}

.row{
    margin-top: 2%;
}

.panels{
    height: 70vh;
    width: 98.7vw;

    display:flex;
    margin-top: 2%;
}

.panel{
    height: 100%;
    flex:1;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition : flex .7s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.panel:hover{
    flex: 3;
}
.panel:hover>.titreJeu{
    opacity: 100%;
}

.muta{
    background-image: url("../img/muta.jpg");
}
.luna{
    background-image: url("../img/luna.jpg");
}

.chi{
    background-image: url("../img/chi.jpg");
}

.stray{
    background-image: url("../img/stray.jpg");
}

h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'Oswald', sans-serif;
    font-family: 'Righteous', cursive;
    font-size: 350%;
    color: #cb747b;
    text-shadow: 2px 2px 2px #e6aeb3;
}

.carousel-inner h5{
    text-shadow: 3px 3px 3px #cb747b;
    font-size: 400%;
}

p{
    text-align: center;
    margin-top: 2%;
    font-size: 125%;
}

.carousel-inner p{
    text-shadow: 2px 2px 2px #cb747b; 
    font-size: 120%;
}

#carouselAutoplaying{
    scroll-margin-top: 55px;
}

#a-propos{
    scroll-margin-top: 55px;
}

#achats{
    scroll-margin-top: 55px;
}

#prochainement{
    scroll-margin-top: 55px;
}

#contacts{
    scroll-margin-top: 55px;
}

.roseatre{
    background-color: #cb747b;
    align-items: center;
}

.whiteText{
    color: white;
}

.centerText{
    text-align: center;
}

.colorPinkTransition{
    color: #cb747b;
    transition: 0.5s;
}

.colorPinkTransition:hover{
    color: #e6aeb3;
}

.centerItems{
    display: flex;
    justify-content: center;
}

.textPink{
    color: #cb747b;
    font-size: 150%;
    font-weight: bold;
}

.titreJeu{
    color: #cb747b;
    font-size: 350%;
    text-shadow: 3px 3px 3px #e6aeb3;
}

.whiteBackground{
    background-color: white;
}

.pinkBackground{
    background-color: rgb(241, 233, 233);
}

.contacts{
    padding-bottom: 5%;
}